{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<section>
  <div class="form">
    <div>
      <h1 class="form__text">{{info}}</h1>
    </div>
    <div>
      <a href="/product-list" class="alert__button"><span class="alert__button_text">Повернутися назад</span></a>
    </div>
  </div>
  </div>
</section>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}