 @use '../../lib/service.scss' as s;

 @use'../../component/heading/style.scss' as heading;
 @use'../../component/field/style.scss' as field;
 @use'../../component/divider/style.scss' as divider;
 @use'../../component/button/style.scss' as button;

 @use'../../component/form/style.scss' as form;

 .main {
     display: flex;
     flex-direction: column;
     gap: s.space(10);
 }

 .form-card {
     //width: 100%;
     display: flex;
     flex-direction: column;
     gap: s.space(5);
     padding: s.space(10);
     border: 1px solid s.color(border);
     border-radius: 10px;
     margin: s.space(10);
 }

 .purchase-contact {
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: s.space(5);
 }