{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main__list">
  {{#with data}}
  <div class="main__content list__content">
    <div class="header">
      <h1 class="title__list">Моя бібіліотека</h1>

      <div class="nuv">
        <a href="/spotify-search">
          <img src="svg/spotify-search.svg">
        </a>
        <a href="/spotify-choose">
          <img src="/svg/add_button-big.svg">
        </a>
      </div>
    </div>




    <div class="playlist__list">
      {{#each list}}
      <div>
        <img src="{{image}}" alt="{{name}}" height="345px">
        <div class="playlist__list-content">
          <strong class="playlist__name">{{name}}</strong>
          <span class="playlist__amount">{{amount}} пісень</span>
        </div>
      </div>
      {{/each}}
    </div>



  </div>
  {{/with}}
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}