{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
  {{#mith data}}
  <div class="main__content">
    <div class="header">
      <h1 class="title">Моя бібіліотека</h1>

      <div class="nuv">
        <a href="/spotify-search">
          <img src="svg/spotify-search.svg">
        </a>
        <a href="/spotify-choose">
          <img src="/svg/spotify_butto-big.svg">
        </a>
      </div>
    </div>
    <h1 class="title">Моя бібіліотека</h1>


    {{#each list}}
    <div class="playlist__list">
      <img src="{{image}}" alt="{{name}}" height="100px">
      <div class="playlist__list-content">
        <strong class="playlist__name">{{name}}</strong>
        <span class="playlist__amount">Кількість пісень: {{amount}}</span>
      </div>
    </div>
    {{/each}}


  </div>
  {{/with}}
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}